@{
    ViewBag.Title = "RoadSelection";
    Session["roadID"] = null;
}

<h2>Roadsection</h2>

@{
    if (Session["RoleId"].ToString() == "")
    {
        ViewBag.error = "You are not authorized to view this page";
        @ViewBag.error
    }
    else
    {
        using (Html.BeginForm("SelectSection", "RoadSelection", FormMethod.Post))
        {
            @Html.Raw(Session["SelectList"].ToString())
        }  
    }
 }
