@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to RoadIt, made at the request of UA for Cloud Applications. For documentation see our <a href="https://github.com/JellePauchet/RoadIt" title="git">git</a>.
</p>
